node_id={{ node_id }}
node_name={{ node_name }}
conninfo='host={{ remote_ip }} port={{ lport }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory=/var/lib/postgresql/{{ version }}/{{ cluster }}
config_directory=/etc/postgresql/{{ version }}/{{ cluster }}

failover=automatic
promote_command='ssh postgres@{{ remote_ip }} /usr/bin/repmgr standby promote -f /etc/repmgr.conf --log-to-file'
follow_command='ssh postgres@{{ remote_ip }} /usr/bin/repmgr standby follow -f /etc/repmgr.conf --log-to-file --upstream-node-id=%n'
service_promote_command='ssh postgres@{{ remote_ip }} /usr/lib/postgresql/{{ version }}/bin/pg_ctl -w -D /var/lib/postgresql/{{ version }}/{{ cluster }} promote'
monitoring_history=yes
monitor_interval_secs=2

log_facility=LOCAL0
