[Unit]
Description=SYSTEMD {{ service_name }}
After=syslog.target
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=10
User=postgres
Group=postgres
TimeoutStopSec=5
ExecStart=/usr/lib/postgresql/{{ version }}/bin/repmgrd -d --config-file {{ repmgrd_config_file }} --pid-file=/var/run/repmgr/{{ service_name }}.pid
StandardOutput=syslog
StandardError=syslog
PIDFile=/var/run/repmgr/{{ service_name }}.pid

[Install]
WantedBy=multi-user.target
