setLocal('0.0.0.0:53')
addLocal('[::]:53')
setACL({'0.0.0.0/0', '::/0'}) -- Allow all IPs access

newServer({address='127.0.0.1:{{ parent_port }}', pool='authoritative'})
newServer({address='8.8.8.8:53', pool='recursor'})
newServer({address='8.8.4.4:53', pool='recursor'})

recursive_ips = newNMG()
recursive_ips:addMask('127.0.0.1') -- These network masks are the ones from allow-recursion in the Authoritative Server
recursive_ips:addMask('::1')

addAction("{{ authoritative_domain }}", PoolAction('authoritative'))
addAction(NetmaskGroupRule(recursive_ips), PoolAction('recursor'))
addAction(AllRule(), DropAction())
