# Because we are using logrotate for greater flexibility, disable the
# internal certbot logrotation.
max-log-backups = 0
authenticator = standalone
preferred-challenges = http
email = {{ email }}
agree-tos = True
no-eff-email = True
manual-public-ip-logging-ok = True
post-hook = /etc/letsencrypt/post.sh
