# Because we are using logrotate for greater flexibility, disable the
# internal certbot logrotation.
max-log-backups = 0
authenticator = manual
preferred-challenges = dns
email = {{ email }}
manual-auth-hook = /etc/letsencrypt/dns_auth.sh REPLACE
manual-cleanup-hook = /etc/letsencrypt/dns_auth.sh DELETE
post-hook = /etc/letsencrypt/post.sh
agree-tos = True
no-eff-email = True
manual-public-ip-logging-ok = True
