#!/bin/bash
ACTION=$1
JSON='{ "rrsets": [ { "name": "_acme-challenge.'${CERTBOT_DOMAIN}'.", "type": "TXT", "ttl": 30, "changetype": "'$ACTION'", "records": [ { "content": "\"'${CERTBOT_VALIDATION}'\"", "disabled": false } ] } ] }'
API_KEY='{{ dns_api_key }}'
HOST='{{ dns_ip }}'
PORT='{{ dns_port }}'
ZONE=$(echo ${CERTBOT_DOMAIN} | grep -o '[^.]*\.[^.]*$')
echo $JSON $ZONE
CODE=$(curl -X PATCH --data "$JSON" -H "X-API-Key: $API_KEY" http://$HOST:$PORT/api/v1/servers/localhost/zones/$ZONE -w "%{http_code}")
FIRST=${CODE:0:1}
if [ $FIRST != "2" ]; then
  echo "Error $CODE"
  exit 1
fi
echo "Success"
exit 0
