[{{ backup_name }}]
description = "Backup of {{ backup_name }}"

conninfo = host={{ remote_ip }} port={{ lport }} user=barman dbname=postgres
backup_method = postgres

streaming_conninfo = host={{ remote_ip }} port={{ lport }} user=streaming_barman 
streaming_archiver = on 
slot_name = barman
;streaming_archiver_name = barman_receive_wal
