[barman] 
barman_user = barman 
configuration_files_directory = /etc/barman.d/ 
barman_home = /var/lib/barman/
log_file = /var/log/barman/barman.log 
log_level = INFO 
compression = {{ wal_compress }} 
backup_options = concurrent_backup 
recovery_options = 'get-wal' 
minimum_redundancy = {{ redundancy }}
retention_policy = {{ retention_policy }}
