local replication streaming_barman md5
host replication streaming_barman 127.0.0.1/32 md5
host replication streaming_barman {{ subnet }} md5

local postgres barman md5
host postgres barman 127.0.0.1/32 md5
host postgres barman {{ subnet }} md5
