grant bouncers to {{ db_user }};

\c {{ db_name }};

create schema if not exists pgbouncer authorization pgbouncer;

create or replace function pgbouncer.user_lookup(in i_username text, out uname text, out phash text)
returns record as $$
begin
    select usename, passwd
        from pg_catalog.pg_shadow a
        where pg_has_role(usename,'bouncers','member')
        and usename=i_username
        into uname, phash;
    return;
end;
$$ language plpgsql security definer;

revoke all on function pgbouncer.user_lookup(text) from public, pgbouncer;
grant execute on function pgbouncer.user_lookup(text) to pgbouncer;

