[databases]
* = host={{ pg_ip }} port={{ lport }} auth_user=pgbouncer

[pgbouncer]
logfile = /var/log/postgresql/pgbouncer.log
pidfile = /var/run/postgresql/pgbouncer.pid
listen_addr = {{ listen_addresses }}
listen_port = {{ listen_port }}
unix_socket_dir = /var/run/postgresql
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
auth_query = select * from pgbouncer.user_lookup($1)
auth_user = pgbouncer
pool_mode = session
server_reset_query = DISCARD ALL
max_client_conn = {{ max_client_conn }}
default_pool_size = {{ default_pool_size }}
min_pool_size = {{ min_pool_size }}
