\c {{ db_name }};

select 'create role bouncers;'
where not exists (select * from pg_catalog.pg_roles where rolname='bouncers');\gexec

select 'create user pgbouncer with password ''{{ db_user_pass }}'' in role bouncers'
where not exists (select * from pg_catalog.pg_user where usename='pgbouncer');\gexec
