<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE'] = 'POSTGRESQL';
$DB['SERVER'] = '{{ db_ip }}';
$DB['PORT'] = '{{ db_port }}';
$DB['DATABASE'] = 'zabbix';
$DB['USER'] = 'zabbix';
$DB['PASSWORD'] = '{{ db_user_pass }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER = '{{ internal_ip }}';
$ZBX_SERVER_PORT = '{{ lport }}';
$ZBX_SERVER_NAME = '';
$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
