PidFile=/var/run/zabbix/zabbix_agentd.pid
LogType=system
DebugLevel=3
Server={{ server_ip }}
ListenPort={{ lport }}
ListenIP={{ internal_ip }}
StartAgents=1
ServerActive=
BufferSend=5
BufferSize=100
MaxLinesPerSecond=20
AllowRoot=0
User=zabbix
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf
TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/etc/zabbix/zabbix_agentd.psk
TLSPSKIdentity={{ identity }}
