PidFile=/var/run/zabbix/zabbix_server.pid
ListenPort={{ lport }}
LogType=system
DebugLevel=3
DBHost={{ db_ip }}
DBName=zabbix
DBUser=zabbix
DBPassword={{ db_user_pass }}
DBPort={{ db_port }}
StartPollers=5
StartIPMIPollers=0
StartPollersUnreachable=1
StartTrappers=1
StartPingers=1
StartDiscoverers=1
StartHTTPPollers=1
StartTimers=1
StartEscalators=1
JavaGateway=
StartVMwareCollectors=0
SNMPTrapperFile=/tmp/zabbix_traps.tmp
StartSNMPTrapper=0
ListenIP={{ internal_ip }}
HousekeepingFrequency=1
MaxHousekeeperDelete=1000
SenderFrequency=30
CacheSize=8M
CacheUpdateFrequency=60
StartDBSyncers=2
HistoryCacheSize=16M
HistoryIndexCacheSize=4M
TrendCacheSize=4M
ValueCacheSize=8M
Timeout=5
TrapperTimeout=60
UnreachablePeriod=20
UnavailableDelay=10
UnreachableDelay=10
AlertScriptsPath=/etc/zabbix/alert.d/
ExternalScripts=${datadir}/zabbix/externalscripts
FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6
LogSlowQueries=3000
TmpDir=/tmp
#for future optimization
StartProxyPollers=1
ProxyConfigFrequency=3600
ProxyDataFrequency=1
AllowRoot=0
User=zabbix
Include=/etc/zabbix/zabbix_server.conf.d/*.conf
SSLKeyLocation=${datadir}/zabbix/ssl/keys

