local replication repmgr md5 
host replication repmgr 127.0.0.1/32 md5 
host replication repmgr {{ internal_ip }}/32 md5
host replication repmgr {{ remote_subnet}} md5

local repmgr repmgr md5 
host repmgr repmgr 127.0.0.1/32 md5 
host repmgr repmgr {{ internal_ip }}/32 md5 
host repmgr repmgr {{ remote_subnet}} md5
