node_id={{ node_id }} 
node_name={{ node_name }} 
conninfo='host={{ internal_ip }} port={{ lport }} user=repmgr dbname=repmgr connect_timeout=2' 
data_directory=/var/lib/postgresql/{{ version }}/{{ cluster }}
config_directory=/etc/postgresql/{{ version }}/{{ cluster }}
pg_bindir=/usr/lib/postgresql/{{ version }}/bin

service_start_command='sudo pg_ctlcluster {{ version }} {{ cluster }} start' 
service_stop_command='sudo pg_ctlcluster {{ version }} {{ cluster }} stop' 
service_restart_command='sudo pg_ctlcluster {{ version }} {{ cluster }} restart' 
service_reload_command='sudo pg_ctlcluster {{ version }} {{ cluster }} reload'

log_facility=LOCAL0
