client
dev {{ dev }}
proto {{ proto }}
remote {{ remote_ip }} {{ lport }}
keepalive {{ client_keepalive }}
resolv-retry infinite
auth {{ auth }}
cipher {{ cipher }}
compress {{ compress }}
pull
remote-cert-tls server
nobind

ca {{ client_ca_crt }}
cert {{ client_crt }}
key {{ client_key }}
tls-auth {{ client_ta_key }} 1
