proto {{ proto }}
port {{ lport }}
server {{ subnet }}
dev {{ dev }}
compress {{ compress }}
reneg-sec 0
keepalive {{ server_keepalive }}
mssfix 1350
cipher {{ cipher }}
auth {{ auth }}
keepalive {{ server_keepalive }}
ping-timer-rem

ca {{ server_ca_crt }}
cert {{ server_crt }}
key {{ server_key }}
dh {{ dh_key }}
tls-auth {{ server_ta_key }} 0

persist-key
persist-tun

{% if c2c %}client-to-client{% endif %}
