set_var EASYRSA_REQ_COUNTRY    "US"
set_var EASYRSA_REQ_PROVINCE   "California"
set_var EASYRSA_REQ_CITY       "San Francisco"
set_var EASYRSA_REQ_ORG        "Copyleft Certificate Co"
set_var EASYRSA_REQ_EMAIL      "me@example.net"
set_var EASYRSA_REQ_OU         "My Organizational Unit"
set_var EASYRSA_CA_EXPIRE      36500
set_var EASYRSA_CERT_EXPIRE    36500
set_var EASYRSA_BATCH          "1"
set_var EASYRSA_REQ_CN         "{{ key_name }}"
set_var EASYRSA_KEY_SIZE       {{ key_size }}
