local-address={{ internal_ip }} #Local IP addresses to which we bind
local-address-nonexist-fail=yes #Fail to start if one or more of the local-address's do not exist on this server
local-ipv6= #Local IP address to which we bind
local-port={{ lport }} #The port on which we listen
allow-notify-from= #Allow AXFR NOTIFY from these IP ranges.
allow-recursion= #List of subnets that are allowed to recurse
allow-unsigned-notify=no #Allow unsigned notifications for TSIG secured domains
allow-unsigned-supermaster=no #Allow supermasters to create zones without TSIG signed NOTIFY
disable-syslog=no #Disable logging to syslog, useful when running inside a supervisor that logs stdout
disable-tcp=no #Do not listen to TCP queries
dnsupdate=no #Enable/Disable DNS update (RFC2136) support. Default is no.
do-ipv6-additional-processing=yes #Do AAAA additional processing
include-dir=/etc/powerdns/pdns.d #Include *.conf files from this directory
launch= #Which backends to launch and order to query them in
daemon=yes #Operate as a daemon
forward-dnsupdate=no #A global setting to allow DNS update packages that are for a Slave domain, to be forwarded to the master.
log-dns-details=no #If PDNS should log DNS non-erroneous details
log-dns-queries=no #If PDNS should log all incoming DNS queries
loglevel=4 #Amount of logging. Higher is more. Do not set below 3
master=no #Act as a master
max-cache-entries=100000 #Maximum number of cache entries
cache-ttl=20 #Seconds to store packets in the PacketCache
max-tcp-connections=20 #Maximum number of TCP connections
recursor=no #If recursion is desired, IP address of a recursing nameserver
security-poll-suffix= #Domain name from which to query security update notifications
setgid=pdns #If set, change group id to this gid for more security
setuid=pdns #If set, change user id to this uid for more security
signing-threads=3 #Default number of signer threads to start
tcp-control-address= #If set, PowerDNS can be controlled over TCP on this address

webserver=yes
webserver-address={{ webserver_ip }}
webserver-password={{ webserver_pass }}
webserver-port={{ webserver_port }}
api=yes
api-key={{ api_key }}
