iface {{ ansible_default_ipv4.interface }} inet6 static
  address {{ ipv6_addr }}
  netmask {{ netmask }}
  gateway {{ gateway }}
  autoconf 0
  dns-nameservers 8.8.8.8 2001:4860:4860::8888 2001:4860:4860::8844
