proto {{ proto }}
remote {{ remote_ip }} {{ lport }} 
dev {{ dev }} 
ifconfig {{ internal_ip }} {{ remote_internal_ip }} 
secret {{ client_key }} 
cipher {{ cipher }}
keepalive {{ client_keepalive }} 
nobind
compress {{ compress }}
