dev {{ dev }} 
proto {{ proto }}
port {{ lport }} 
ifconfig {{ internal_ip }} {{ remote_internal_ip }} 
secret {{ server_key }} 
cipher {{ cipher }} 
keepalive {{ server_keepalive }}
ping-timer-rem
compress {{ compress }}
